
.skill-button{
    background-color: #ff6e14!important;
    margin-left: 1rem !important;
    margin-bottom: 1rem  !important;
    border-radius: 10px;
    color: white !important;
   
}

.resume:hover{
  color: black;
  border: 1px solid #ff6e14;
}

@media (max-width: 600px) {
    .right-card{
        display: none;
    }
    .left-card-profile{
      margin-left: 0rem !important;
      margin-right: 0rem !important;
    }
    .skill-box{
        margin-left: 0rem !important;
    }
    .skill-main-card{
        margin-left: 0rem !important;
    }
}